a.download {
    text-decoration: none;
    display: contents;
}

.my-resume a:hover {
    color: var(--color-secondary);
    transition: all .3s;
}

div.light .my-resume a:hover {
    color: var(--color-secondary);
    transition: all .3s;
}

.print-resume {
    background: var(--color-primary);
    border: 1px solid var(--color-light-blue);
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
    display: block;
    margin: 5rem auto 2rem auto;
    padding: 16px 10px;
    transform: scale(1, 1.1);
}

.print-resume:hover {
    border: 1px solid var(--color-secondary);
    transition: all .3s;
}

.print-resume:active {
    transform: translate(-2px, 2px);
}

div.light h2,
div.light b,
div.light h4,
div.light .contact a {
    color: black;
}

div.light .name-contact {
    background-color: var(--color-light-grey);
    /* With blue or without blue? */
    border-top: 5px solid var(--color-light-blue);
}

div.light .my-resume {
    background-color: white;
}

div.light .resume-icons,
div.light .map-icon {
    color: var(--color-button-blue);
}

.my-resume {
    margin: 5rem auto;
    width: 60rem;
    /* width: 60%; */
    max-width: 65rem;
    background-color: var(--color-purple);
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #010817;
}

.name-contact {
    background-color: var(--color-button-blue);
    border-top: 5px solid var(--color-secondary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1.5rem 1rem;
    /* padding: auto; */
    display: grid;
    position: relative;
}

.my-resume h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.my-resume h3 {
        font-size: 1.25rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        padding-left: 11.5rem;
        padding-bottom: .5rem;
        letter-spacing: 2px;
    }

.my-resume h2 {
    font-family: consolas, monospace;
    border-bottom: 1px dashed var(--color-light-blue);
    padding: .5rem 0 .5rem 0;
    margin: 0 0 .5rem 0;
}

.education>h2,
.projects>h2,
.relavent-skills>h2,
.work-experience>h2,
b {
    color: var(--color-light-grey);
}

.contact {
    position: absolute;
    right: 0;
    padding-top: .5rem;
}

.contact>ul {
    list-style-type: none;
    line-height: 2;
    padding-right: .25rem;
}

li>b {
    color: var(--color-link);
}

.resume-icons {
    color: var(--color-light-grey);
    margin-right: .5rem;
    vertical-align: middle;
    font-size: 1.25rem;
}

.location {
    /* margin: 0 0 0 .5rem; */
    padding: 0 0 0 5rem;
}

.map-icon {
    color: var(--color-link);
    margin: 0 .5rem 0 0;
    font-size: 1.5rem;
    vertical-align: middle;
}

.my-resume h4 {
    color: var(--color-light-grey);
    display: inline-block;
}

p.description {
    padding: .5rem .25rem;
}

.education,
.work-experience {
    position: relative;
}

.education>b,
.education>p {
    padding: 0 .25rem;
}

time {
    position: absolute;
    right: .25rem;
    font-style: italic;
}

.projects>b,
.projects>p {
    padding: 0 .25rem;
}

.projects>p {
    margin: 0 0 .5rem 0;
}

.relavent-skills>div {
    background-color: var(--color-medium-blue);
    display: inline-flex;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem 1rem .25rem 1rem;
    border-radius: 5px;
    font-family: monospace;
    font-size: large;
}

.work-experience>b,
.work-experience>p {
    padding: 0 .25rem;
}

.work-experience>ul {
    padding: .25rem 1.5rem;
}

@media screen and (max-width: 1366px) {
    .contact>ul {
        font-size: .9rem;
    }

    .my-resume h1 {
        font-size: 3.5rem;
    }
    
    .my-resume h3 {
        padding-left: 9.5rem
    }

    .my-resume h4 {
        font-size: .9rem;
    }

    .resume-icons {
        font-size: 1rem;
    }

    .map-icon {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1150px) {
    .name-contact{
        padding: 1.6rem 1rem;
    }
    .my-resume h1 {
        font-size: 2.75rem;
    }
    .my-resume h3 {
        font-size: 1.15rem;
        padding-left: 7rem;
        padding-bottom: .2rem;
    }
    .location {
        padding-left: 1.5rem;
    }
    .contact {
        padding-top: 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .my-resume h1 {
        font-size: 3rem;
    }

    .my-resume h3 {
        padding-left: 7.75rem;
    }

    .my-resume {
        margin: 4rem auto;
        width: 80%;
    }

    .name-contact ul {
        padding-top: .25rem;
    }
}

@media screen and (max-width: 870px) {
    .my-resume {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .print-resume {
        margin: 3rem auto auto auto;
    }

    .my-resume {
        margin: 3rem auto;
    }

    .my-resume h1 {
        font-size: 2.5rem;
    }

    .my-resume h3 {
        padding: 0;
    }

    .contact>ul {
        line-height: 1.75;
    }

    .name-contact {
        display: block;
        text-align: center;
        padding: .5rem;
    }

    .location {
        margin: auto;
    }

    .contact {
        position: inherit;
        text-align: left;
        margin: .75rem auto auto .5rem;
        padding: 0;
    }
}

@media screen and (max-width: 475px) {
    .education>time {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .name-contact {
        padding: 0 0 .25rem 0;
    }

    .my-resume h1 {
        font-size: 2.45rem;
    }

    .location {
        padding-left: 0;
    }
}

@media screen and (max-width: 350px) {
    .my-resume {
        font-size: 14px;
    }

    .my-resume h1 {
        font-size: 2.25rem;
    }

    .contact {
        margin: .75rem 0 0 1px;
    }

    .contact>ul {
        padding: 0 1px 0 0;
    }

    .resume-icons {
        margin: 0 2px 0 0;
    }
}

@media print {

    @page {
        margin: 0;
    }

    header {
        display: none;
    }

    nav {
        display: none;
    }

    button {
        display: none;
    }

    footer {
        display: none;
    }

    .my-resume {
        width: auto;
        /* max-width: 100%; */
        color: black;
        margin: .5cm;
        font-size: 10pt;
        background-color: white;
        box-shadow: none;
        border-radius: none;
    }

    .contact{
        padding-top: 4pt;
    }

    .name-contact h3 {
        padding: 0 0 2pt 114pt;
    }

    .contact>ul {
        line-height: 22pt;
        padding-top: 0;
    }

    .my-resume h4,
    .education>h2,
    .projects>h2,
    .relavent-skills>h2,
    .work-experience>h2,
    b {
        color: black
    }

    .my-resume h1 {
        font-size: 42pt;
    }

    .name-contact {
        background-color: var(--color-light-grey);
        border-top: 5px solid var(--color-light-blue);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .resume-icons,
    .map-icon {
        color: var(--color-button-blue);
    }

    li>b {
        color: black;
    }
}